<div class="container login-container">
                <div class="row">
                    <div class="col-md-6 login-form-2">
                         
                        <h3>Client Login</h3>
                            <div class="form-group">
                                <input type="text" name="username" class="form-control" id="username" placeholder="Your Username *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control" placeholder="Your Password *" value="" />
                            </div>
                            <div class="form-group">
                                <!-- <input type="button" class="btnSubmit" name="login" id="login" value="Login" />-->
                                 <button class="btnSubmit" id="login">Log in!</button>
                            </div>
                            <div class="form-group">
    
                                <a href="#" class="btnForgetPwd" value="forgot">Forget Password?</a>
                                 <span id="message"></span>
                            </div>
                       
                    </div>
                   
                </div>
            </div>