<h2>Manage Reimbursements</h2>

<table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>AMOUNT</th>
                <th>SUBMITTED</th>
                <th>RESOLVER</th>
                <th>STATUS</th>
                <th>TYPE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>102</td>
                <td>1345.45</td>
                <td>2019-03-24 12:08:30</td>
                <td>1</td>
                <td>APPROVED</td>
                <td>LODGING</td>
            </tr>
                <td>103</td>
                <td>155.45</td>
                <td>2019-03-24 12:08:30</td>
                <td>1</td>
                <td>APPROVED</td>
                <td>LODGING</td>
            </tr>
                <td>104</td>
                <td>1704.34</td>
                <td>2019-04-01 12:08:30</td>
                <td>1</td>
                <td>PENDING</td>
                <td>FOOD</td>
            </tr>
             </tr>
                <td>105</td>
                <td>1345.45</td>
                <td>2019-03-24 12:08:30</td>
                <td>1</td>
                <td>APPROVED</td>
                <td>TRAVEL</td>
            </tr>
             </tr>
                <td>106</td>
                <td>145.45</td>
                <td>2019-03-26 12:08:30</td>
                <td>1</td>
                <td>APPROVED</td>
                <td>LODGING</td>
            </tr>
             </tr>
                <td>107</td>
                <td>3225.45</td>
                <td>2019-04-04 12:08:30</td>
                <td>1</td>
                <td>DENIED</td>
                <td>LODGING</td>
            </tr>
            
             </tbody>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>AMOUNT</th>
                <th>SUBMITTED</th>                
                <th>RESOLVER</th>
                <th>STATUS</th>
                <th>TYPE</th>
            </tr>
        </tfoot>
    </table>